.form-group {
    justify-content: center;
    margin-bottom: 2em;
}
.form-label{
    font-size: medium;
    text-align: center;
    justify-content: center;
}

.form-select {
    font-size: medium;
    text-align: center;
    justify-content: center;
    margin-left: 3em;
    width: 100%;
    border: none;
    border-bottom: 1px solid black
}

.form-control{
    font-size: medium;
    text-align: center;
    justify-content: center;
    margin-left: 3em;
    width: 100%;
    border: none;
    border-bottom: 1px solid black
}

.form-text {
    margin-left: 3em;
    width: 100%;
    height: max-content;
    border: none;
    border-bottom: 1px solid black
}

.gender-option{
    font-size: medium;
}